<footer class="page-footer font-small bg-dark pt-4">

<div class="container">

<div class="row">
<div class="col-md-12 d-flex justify-content-center">

    <h4 class="text-white">Me siga nas redes sociais</h4>  
</div>
</div>

<div class="row">
<div class="col-md-12 d-flex justify-content-center">

    <ul class="social-network">
<li>
    <a href="https://www.linkedin.com/in/raysa-livinston-55443b204/" target="_blank"
class="incoLinkedin">
<i class="fa-brands fa-linkedin" aria-hidden="true"></i>
</a>
</li>

      <li>
        <a href="https://github.com/RAYSAFIGUEIREDO" target="_blank"
    class="incoGitHub">
     <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
   </li>

          <li>
            <a href="https://www.instagram.com/raysafiigueiredo/" target="_blank"
        class="incoInstagram">
        <i class="fa-brands fa-instagram-square" aria-hidden="true"></i>
        </a>
        </li>
    </ul>
</div>
</div>
</div>
<div class="footer-copyright bg-dark text-center py-3">
<span class="text-light">Estude, aprimore, não se acomode;</span>

</div>
</footer>