#img-bg{
    background-image: url('https://i.pinimg.com/564x/ee/bd/09/eebd09f9ed46e1d121b3f66a4dbb5185.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}