#img-bg{
    background-image: url('https://i.pinimg.com/236x/4f/24/60/4f2460abdf8e692b4105e71c586c8516.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}